#frame {

    background-color: grey;

}

#title {

    background-color: #4a2b2b;
    text-align: center;
    padding: 20px;

}


#gameview_nav{
    overflow: hidden;
    background-color: #333;
  }
#gameview_nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

#gameview_nav a:hover{
    background-color: #ddd;
    color: black;
    
}



